/* Break point for navigation */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: -300px;
    flex-direction: column;
    /* right: -120px; */
    width: 300px;
    height: 100vh;
    top: 0;
    padding: 40px;
    background-color: #f55116;
    gap: 40px;
    padding-top: 130px;
  }
  .three-bar-icon,
  .cancel-btn {
    display: block;
  }
  .facility-row {
    gap: 100px;
  }
}

@media (max-width: 1080px) {
  .course-section {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .hero-text-container {
    width: 100%;
    padding: 20px;
  }
  .hero-heading {
    font-size: 1.8rem;
  }

  .row {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
}

/* Particularly mobile section */
@media (max-width: 425px) {
  .landing-page {
    overflow-x: hidden;
  }
  .hero-heading {
    font-size: 1.3rem;
  }
  .hero-text-container p {
    font-size: 0.9rem;
  }
  .course-section {
    width: 100%;
  }
}
