* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a,
a:link,
a:visited {
  color: #fffafa;
  text-decoration: none;
}

.paragraph {
  font-weight: 300;
}

/* --------------Landing page section---------------- */
.landing-page {
  height: 100vh;
  /* Set background image with these gradient to fade the image with dark shade */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../img/banner.png");
  background-position: center;
  background-size: cover;
}

/* -----------Navbar --------- */
.nav-bar {
  display: flex;
  justify-content: space-between;
  /* padding: 40px; */
  padding: 10px 20px 0 20px;
}

.logo-container img {
  width: 200px;
}

.nav-links {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  gap: 2rem;
  /* For smooth transition */
  transition: 1s;
}

.nav-links a {
  transition: 0.3s;
}
.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: #f55116;
  font-size: 1.2rem;
}

.three-bar-icon {
  color: white;
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.cancel-btn {
  width: 40px;
  color: white;
  font-size: 2rem;
  position: absolute;
  left: 10px;
  top: 10px;
  display: none;
  cursor: pointer;
}

/* --------------Hero container----------------- */
.hero-text-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 200px;
  gap: 2rem;
}

.hero-heading {
  font-size: 2.5rem;
  font-weight: bolder;
}

.hero-btn {
  width: 200px;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 6px;
  transition: 0.5s;
}

.hero-btn:hover {
  background-color: #f55116;
  border: 2px solid #f55116;
}

/* ---- Course Section ------- */
.course-section {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

.course-section h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.row {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  gap: 30px;
}

.course-col {
  padding: 20px;
  background-color: #fff3f3;
  transition: 0.5s;
}

/* TODO:  Best box sizing hover */
.course-col:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

/* ------campus section --------------- */
.campus-section {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.campus-section h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.campus-col {
  /* width: 40%; */
  position: relative;
  height: 500px;
}

/*  SEE ALL THE COLOR LAYER EFFECT AND TRANSITION CAREFULLY IT IS ACTUALLT AWESOME */
.color-layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: 0.5s;
}

.color-layer:hover {
  background-color: rgba(226, 0, 0, 0.7);
}

.campus-col img {
  width: 100%;
  height: 100%;
}

.layer-text {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
  opacity: 0;
  transition: 0.5s;
}

.color-layer:hover ~ .layer-text {
  bottom: 49%;
  opacity: 1;
}

/* -----Facility Section -------------- */
.facility-section {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}

.facility-section h2 {
  font-size: 2rem;
  font-weight: bolder;
}

.facility-col img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* ----- Student's Review Section --------------------- */
.student-review-section {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 140px;
}
